.comment {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    &__thumbnail {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    &__img {
        overflow: hidden;
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid black;
        img, svg {
            position: absolute;
            top: -100%;
            bottom: -100%;
            left: -100%;
            right: -100%;
            width: 100%;
            height: auto;
            margin: auto;
        }
        svg {
            width: 50% !important;
        }
    }
    &__user {
        margin-left: 5px;
    }
    &__text {
        flex: 1;
    }
}